{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        <table>
          <tr>
              <th>id</th>
              <th>status</th>
              <th>name</th>
          </tr>
          {%for obj in data%}
            <tr>
              <td>{{ obj.id }}</td>
              <td>{{ obj.status }}</td>
              <td>{{ obj.name }}</td>
              <form action="{{ url_for('complete') }}" method="post">
               <td><button type="submit" name="Complete" value="{{ obj.id }}">Complete</button></td>
              </form>
            </tr>
          {%endfor%}
        </table>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Add New Item</h2>
      <form action="{{ url_for('add_new_item') }}" method="post">
        List: <input type="text" name="list_name" style=width:100px value='To Do'>
        Title:  <input type="text" name="item_title" style=width:300px >
        Description: <input type="text" name="item_desc" style=width:400px >
        <input type="submit" value="Submit">
      </form><br><br>
    </div>
  </div>

{% endblock %}