{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        <table>
          <tr>
              {%for col in data[0].keys()%}
                <th>{{ col }}</th>
              {%endfor%}
          </tr>
          {%for i in range(0, len)%}
            <tr>
              {%for col in data[i].values()%}
                <td>{{ col }}</td>
              {%endfor%}
            </tr>
          {%endfor%}
        </table>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Add New Item</h2>
      <form action="{{ url_for('add_new_item') }}" method="post">
        Status: <input type="text" name="item_status" style=width:100px value="Not Started" readonly>
        Title:  <input type="text" name="item_title" style=width:600px >
        <input type="submit" value="Submit">
      </form><br><br>
    </div>
  </div>

{% endblock %}